/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  width: 100vw;
}

body {
  width: 100vw;
  background-color: black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
  text-align: justify;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  font-size: 2.4em;
}

.header {
  width: 100vw;
  background-color: rgb(255, 96, 96);
  top: 0;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0px;
}
.header__menu {
  margin-right: 2em;
  width: 20vw;
  height: 10vh;
  border: 0.7em solid rgb(255, 96, 96);
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  transition: background-color 0.3s ease;
}
.header__menu div {
  width: 100%;
  height: 0.8vh;
  background-color: rgb(255, 96, 96);
}
.header__menu:hover {
  background-color: rgb(255, 96, 96);
}

.header__menu--open {
  width: 550px;
  height: auto;
  background-color: black;
  border: 0.7em solid rgb(255, 96, 96);
  display: none;
  z-index: 10;
  flex-wrap: wrap;
  position: sticky;
  top: 15vh;
  padding: 3em;
}
.header__menu--open ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8vh;
}
.header__menu--open ul li {
  border-bottom: 2px solid rgb(255, 96, 96);
}
.header__menu--open ul li button {
  box-shadow: 0px 1px 0px 0px #ffafaf;
  background: linear-gradient(to bottom, #ff6464 5%, #ff2323 100%);
  background-color: #ff6464;
  border-radius: 6px;
  border: 1px solid rgb(255, 96, 96);
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 1.6em;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ff6666;
}
.header__menu--open ul li button:hover {
  background: linear-gradient(to bottom, rgb(255, 96, 96) 5%, rgb(255, 96, 96) 100%);
  background-color: rgb(255, 96, 96);
}
.header__menu--open ul li button:active {
  position: relative;
  top: 1px;
}
.header__menu--open a {
  text-decoration: none;
  font-size: 2em;
}

footer {
  width: 100vw;
  height: 15vh;
  background-color: rgb(255, 96, 96);
}

.about-naruto1 {
  width: 100vw;
  border-bottom: 0.3em solid rgb(255, 96, 96);
  border-left: 2em solid rgb(255, 96, 96);
}
.about-naruto1__content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 50px;
}
.about-naruto1__content--image {
  width: 500px;
}
.about-naruto1__content--image img {
  width: 100%;
}
.about-naruto1__content--text {
  width: 500px;
  padding: 2em;
}
.about-naruto1__content--text h1 {
  margin-bottom: 1em;
}

.about-naruto2 {
  width: 100vw;
  border-top: 0.3em solid rgb(255, 96, 96);
  border-bottom: 0.3em solid rgb(255, 96, 96);
  border-right: 2em solid rgb(255, 96, 96);
}
.about-naruto2__content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap-reverse;
  flex: 1;
  gap: 50px;
}
.about-naruto2__content--image {
  width: 500px;
}
.about-naruto2__content--image img {
  width: 100%;
}
.about-naruto2__content--text {
  padding: 2em;
  width: 500px;
}
.about-naruto2__content--text h1 {
  margin-bottom: 1em;
}

.about-naruto3 {
  width: 100vw;
  border-top: 0.3em solid rgb(255, 96, 96);
  border-left: 2em solid rgb(255, 96, 96);
}
.about-naruto3__content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 50px;
}
.about-naruto3__content--image {
  width: 500px;
}
.about-naruto3__content--image img {
  width: 100%;
}
.about-naruto3__content--text {
  padding: 2em;
  width: 500px;
}
.about-naruto3__content--text h1 {
  margin-bottom: 1em;
}

.calculator-wrapper {
  width: 50vh;
  margin-top: 10em;
}

.calculator__buttons {
  width: 100%;
  height: 50vh;
}
.calculator__buttons select,
.calculator__buttons button {
  width: 20%;
  gap: 2em;
  box-shadow: 0px 1px 0px 0px rgb(255, 96, 96);
  background: rgb(255, 96, 96);
  background-color: rgb(255, 96, 96);
  border-radius: 6px;
  border: 1px solid rgb(255, 96, 96);
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 0.5em 49px;
  text-decoration: none;
  margin: 0.3em;
}
.calculator__buttons button {
  cursor: pointer;
}

.calculator__display {
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  width: 100%;
  gap: 2em;
  box-shadow: 0px 1px 0px 0px rgb(255, 96, 96);
  background: rgb(255, 96, 96);
  background-color: rgb(255, 96, 96);
  border-radius: 6px;
  border: 1px solid rgb(255, 96, 96);
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 0.5em 49px;
  text-decoration: none;
  margin: 0.3em;
}


.galeria img {
  width: 100%; 
  transition: transform 0.3s ease; 
  cursor: pointer; 
}

.galeria img:hover {
  transform: scale(1.1); 
}

body {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-family: 'Monoton', cursive;
}

p {
  font-family: 'Dancing Script', cursive;
}

a {
  font-family: 'Diplomata', serif;
}
